# Data Science Tools and Ecosystems.

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
* list of popular languages that are used by data scientists
* commonly used libraries 
* Data science tools
* evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. TensorFLow
2. NumPy
3. SciPy

| Data Science Tools |
|:---------:|
| RStudio |
| Apache spark|
| Apache Hadoop|

Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [33]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [37]:
200/60

3.3333333333333335

## Author
Sanjanna Agarwal